.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* .main {
  width: 100%;
  height: 100%;
} */

.videobg {
  position: fixed;
  /* top: 0;
  left: 0; */
  z-index: -1;
  /* width: 100%; */
  /* height: 100vh; */
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  /* padding: 5rem 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 100%;
}

.coverimage  {
  width: 100%;
}

.wrapper a img {
  margin-top: 3rem;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
    .coverimage {
      width: 70%;
      max-width: 320px;
    }
}

@media (min-aspect-ratio: 16/9) {
  .videoBG {
      width:100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .videoBG { 
      width:auto;
      height: 100%;
  }
}

@media screen and (min-width: 1921px) {
  /* .videobg {
    width: 100%;
    margin: 0 auto;
    height: auto;
  } */
}

