.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* .main {
  width: 100%;
  height: 100%;
} */

.videobg {
  position: fixed;
  z-index: -1;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  /* padding: 5rem 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 100%;
}

.wrapper img {
  width: 100%;
}

.wrapper a img {
  margin-top: 3rem;
}